
@font-face{
  font-family: 'OpenSans';
  src: url("~@fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 200;
}

@font-face{
  font-family: 'OpenSans';
  src: url("~@fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;//400
}

@font-face{
  font-family: 'OpenSans';
  src: url("~@fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face{
  font-family: 'OpenSans';
  src: url("~@fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;//700
}

@font-face{
  font-family: 'OpenSans';
  src: url("~@fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 900;
}

//@font-face{
//  font-family: 'Gilroy-Black';
//  src: url("~@fonts/Gilroy-Black.ttf") format("truetype");
//  font-style: normal;
//}
//
//@font-face{
//  font-family: 'Gilroy-Medium';
//  src: url("~@fonts/Gilroy-Medium.ttf") format("truetype");
//  font-size: normal;
//}


*{
  font-family: OpenSans, sans-serif !important;
}

//
//.cardLabel{
//  font-size: 18px;
//  line-height: 24px;
//  font-family: OpenSans-Regular;
//  font-family: OpenSans-SemiBold, serif !important;
//}
//
//.tourPrice{
//  font-weight: 700;
//  font-size: 24px;
//  line-height: 21px;
//  font-family: OpenSans-SemiBold, serif !important;
//}
//
//
//.textMuted{
//  color: #9ca8b3 !important;
//  font-family: OpenSans-Regular;
//  background-color: transparent;
//  box-sizing: border-box;
//  font-size: 13px;
//  font-weight: 400;
//  line-height: 1.5;
//}
//
//.emojiLine{
//  font-size: 30px;
//}


